body {
    font-family: Arial, sans-serif;
    background-image: url(bg_tracker.jpeg);
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff9f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#expense-list {
    margin-top: 20px;
    text-align: left;
}

#expenses {
    list-style-type: none;
    padding: 0;
}

#expenses li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
}

#total {
    margin-top: 20px;
    font-weight: bold;
}
